# Entorno virtual
venv/

# Datos y modelos pesados
data/
*.pkl

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo

# Archivos de sistema
.DS_Store
Thumbs.db
venv/
data/
*.pkl
__pycache__/
*.pyc
*.pyo
.DS_Store
Thumbs.db
